/ODIR-5K_Training_Dataset
/ODIR-5K_Testing_Images
/squared_and_cropped_dataset
/ODIR-5k_Training_Datasettest
/ODIR-5K_Training_Dataset_Cleaned
/Checkpoint
/Checkpointrun2
/Datasets
/Checkpointnormalized
/squared_and_cropped_dataset_test
/CheckpointResNet50
/Checkpointtest
/CheckpointVGG19
/CheckpointXception
/CheckpointDenseNet121
/ODIR-5K_Training_Dataset_Cleaned_wo_control
/squared_and_cropped_dataset_wo_control
/Datasets_wo_control
/Datasets_wo_control
/CheckpointVGG16_batchbesttest
/CheckpointDenseNet201_combinednew
/CheckpointNASNetMobile_combinedbestbatch
/CheckpointMobileNetV2_combinend