/ODIR-5K_Training_Dataset
/ODIR-5K_Testing_Images
/squared_and_cropped_dataset
/ODIR-5k_Training_Datasettest
/ODIR-5K_Training_Dataset_Cleaned
/Checkpoint
/Checkpointrun2
/Datasets
/Checkpointnormalized
/squared_and_cropped_dataset_test