aiohttp
albumentations
backports.functools-lru-cache
blinker
bottleneck
brotlipy
chardet
click
gmpy2
importlib-metadata
ipykernel
keras-applications
keras-preprocessing
keras-resnet
matplotlib
mkl-fft
mkl-random
munkres
numexpr
openpyxl
pandas
pip-chill
pyjwt
pyopenssl
pysocks
tensorflow
torchvision
xlrd
